{% extends 'base.html' %}

{% block body %}
<div class="box">
    <div class="col-4">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name() }}
            </div>
            <div class="form-group">
                {{ form.description.label }}
                {{ form.description() }}
            </div>
            <div class="form-group">
                {{ form.attach.label }}
                {{ form.attach() }}
            </div>
            <br>
            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>
    </div>
</div>
{% endblock %}