{% extends 'base.html' %}

{% block body %}
<div class="box">
    <div class="col-4">
        <form action="{{ url_for('collect.procces_new_collect') }}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {% for field in form %}
                {% if field.label.text != 'CSRF Token' and field.type != 'SubmitField' %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field() }}
                </div>
                {% endif %}
            {% endfor %}
            <br>
            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>
    </div>
</div>
{% endblock %}