{% extends "base.html" %}

{% block body %}
<div class="box-fluid">
    <div class="col-4">
    {{ title }}
        <div class="text-centr">
            <form action="{{ url_for('contact_us.procces_new_contact') }}" method="POST" enctype='multipart/form-data'>
                {{ form.hidden_tag() }}
                {% for fields in form if not fields.hidden %}
                    {% if fields.label.text!='Отправить' and not loop.last %}
                    <div class="form-group">
                        {{ fields.label }}
                        {{ fields() }}
                    </div>
                    {% endif %}
                {% endfor %}
                <br>
                <div class="form-group">
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}