{% extends "base.html" %}

{% block body %}
<div class="box-fluid">
    <div class="col-4">
    {{ title }}
        <div class="text-centr">
            <form action="{{ url_for('contact_us.procces_new_contact') }}" method="POST">
                {{ form.hidden_tag() }}
                {% for field in form %}
                    {% if field.label.text != 'CSRF Token' and field.type != 'SubmitField' %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field() }}
                    </div>
                    {% endif %}
                {% endfor %}
                <br>
                <div class="form-group">
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}