{% extends 'base.html' %}

{% block body %}
<div class="col-4">
    <div class="box">
        <form action="{{ url_for('auth.procces_signup') }}" method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}
                {{ form.email() }}
            </p>
            <p>
                {{ form.name.label }}
                {{ form.name() }}
            </p>
            <p>
                {{ form.surname.label }}
                {{ form.surname() }}
            </p>
            <p>
                {{ form.phone.label }}
                {{ form.phone() }}
            </p>
            <p>
                {{ form.password.label }}
                {{ form.password() }}
            </p>
            <p>
                {{ form.confirm.label }}
                {{ form.confirm() }}
            </p>
            <p>
                {{ form.sign_up() }}
            </p>
        </form>
    </div>
</div>
{% endblock %}