

<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal-dialog" tabindex="-1" data-micromodal-close>
    <div class="modal-content" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal-header">
        <h2 class="modal-title" id="modal-1-title">
          Перевести средства
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть" data-micromodal-close></button>
      </header>
      <main class="modal-body" id="modal-1-content">
        <div class="input-group mb-3">
          <span class="input-group-text">RUB</span>
          <input type="text" class="form-control" placeholder="Своя сумма" aria-label="Amount" id='customamountinput'>
          <span class="input-group-text">.00</span>
        </div>
      </main>
      <footer class="modal-footer">
        <div class="btn-group">
          <a href="{{ url_for('payment.checkout') }}" id='paylinkstatic' amount='50' class="btn btn-primary paylinkstatic">50 RUB</a>
          <a href="{{ url_for('payment.checkout') }}" id='paylinkstatic' amount='100' class="btn btn-primary paylinkstatic">100 RUB</a>
          <a href="{{ url_for('payment.checkout') }}" id='paylinkcustom' class="btn btn-primary">Своя сумма</a>
        </div>
        <button class="btn btn-secondary" data-micromodal-close aria-label="Закрыть диалоговое окно">Отменить</button>
      </footer>
    </div>
  </div>
</div>