
{% extends "base.html" %}

{% block body %}
  <div class="card text-center w-50">
    <div class="card-body">
      <form action="{{ url_for('payment.procces_pay') }}" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if field.label.text != 'CSRF Token' and field.type != 'SubmitField' and field.type != 'HiddenField' %}
            <div class="form-group">
                {{ field.label }}
                {{ field() }}
            </div>
            {% endif %}
        {% endfor %}
        <br>
        <div class="form-group">
            {{ form.pay() }}
        </div>
    </form>
    </div>
  </div>
{% endblock %}